@model HospitalCitas.Models.Cita

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha de inicio</label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label">Fecha final</label>
                <input asp-for="FechaFinal" class="form-control" />
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idpaciente" class="control-label">Paciente</label>
                <select asp-for="Idpaciente" class ="form-control" asp-items="ViewBag.IdPaciente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idsecretaria" class="control-label">Secretaria</label>
                <select asp-for="Idsecretaria" class ="form-control" asp-items="ViewBag.Idsecretaria"></select>
            </div>
            <div class="form-group">
                <label asp-for="Iddoctor" class="control-label">Doctor</label>
                <select asp-for="Iddoctor" class ="form-control" asp-items="ViewBag.Iddoctor"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstadoDeLaCita" class="control-label">Estado</label>
                <select asp-for="EstadoDeLaCita" class="form-select control-label">
                    <option value="Sin iniciar">Sin iniciar</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="Cancelada">Cancelada</option>


                </select>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitaCompletada" class="control-label">¿Cita completada?</label>
                <select asp-for="CitaCompletada" class="form-select control-label">
                    <option value="Si">Si</option>
                    <option value="No">No</option>

                </select>
            </div>
            <div class="form-group">
                <label asp-for="DuracionDeLaCita" class="control-label">Tiempo de la cita</label>
                <input asp-for="DuracionDeLaCita" class="form-control" />
                <span asp-validation-for="DuracionDeLaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
