@model HospitalCitas.Models.Cita

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idcita" />
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha de inicio</label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label">Fecha final</label>
                <input asp-for="FechaFinal" class="form-control" />
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idpaciente" class="control-label">Paciente</label>
                <select asp-for="Idpaciente" class="form-control" asp-items="ViewBag.Idpaciente"></select>
                <span asp-validation-for="Idpaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsecretaria" class="control-label">Secretaria</label>
                <select asp-for="Idsecretaria" class="form-control" asp-items="ViewBag.Idsecretaria"></select>
                <span asp-validation-for="Idsecretaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iddoctor" class="control-label">Doctor</label>
                <select asp-for="Iddoctor" class="form-control" asp-items="ViewBag.Iddoctor"></select>
                <span asp-validation-for="Iddoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoDeLaCita" class="control-label">Estado</label>
                <input asp-for="EstadoDeLaCita" class="form-control" />
                <span asp-validation-for="EstadoDeLaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitaCompletada" class="control-label">¿Cita completada?</label>
                <input asp-for="CitaCompletada" class="form-control" />
                <span asp-validation-for="CitaCompletada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracionDeLaCita" class="control-label">Duracion de la cita</label>
                <input asp-for="DuracionDeLaCita" class="form-control" />
                <span asp-validation-for="DuracionDeLaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
